




article {




}

.article {





}


.bg {

    background: url("images/tlo.jpg")center/cover no-repeat scroll;
    padding: 15px;
    text-align: center;
    color: #ADC43E;
    font-size: 1.875em;

}

.photo {

    background: url("images/ekipa.jpg") left/cover no-repeat;
    background-size: auto
    text-align: left;
    font-size: 30px;

}

.photo


}

