

.photo-lady{

    background: url("../jfddl2-tutim/images/zdjecie-pani2.jpg");


}

.photo-lady2 {

    background:url("../jfddl2-tutim/images/zdjecie-pani.jpg")


}

.banner {

    background: url("../jfddl2-tutim/images/tlo.jpg");
    text-align: center;
    color: #ADC43E;
    height: 9em;

}


h2 {

    text-align: center;

}


.team-photo {

    background: url("../jfddl2-tutim/images/ekipa.jpg") center no-repeat;


}






























