@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&subset=latin-ext');
/* modal sign in menu - jakub */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(132, 14, 128, 0.23);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 2px;
    background-color: #840e80;
    color: white;
}

.modal-body {
    padding: 2px 5px;
}

.modal-footer {
    padding: 2px 2px;
    background-color: rgba(132, 14, 128, 0.2);
    color: white;
}

.modal-footer h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-right: 2%;
}

.fitform {
    padding: 15px 0 0 0,
}

.modal-font h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.fitstyle-form {
    font-size: 1.2em;
    padding: 0 5% 0 5%;
    margin: 40px 0 80px 0;
    color: #fff;
}

.btn-submit {
    background-color: rgba(255, 255, 255, 0.14);
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    padding: 5px 50px 5px 50px;
    border-radius: 1px;
    margin-left: 3%;
    transition-duration: 0.5s;
}

.btn-submit:hover {
    background-color: #840e80;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    padding: 5px 50px 5px 50px;
    border-radius: 1px;
    margin-left: 3%;
    transition-duration: 0.5s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.modal-input {
    background-color: rgba(255, 255, 255, 0.14);
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    border-radius: 1px;
margin: 32px 5px 30px 10px;
}


.fitstyle-form h2 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
}

/*modal sign in menu end /

/*Piotr Iwańczuk - start*/
body {
    margin: 0 auto;
    padding: 0;

}

.wrapper {
    background: url('images/fitstyle_01.jpg') no-repeat;
    background-size: cover;
    height: 715px;
}

.navbar {

    background: #080808;

    background: rgba(8, 8, 8, .7);

    padding-bottom: 1em;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    text-transform: lowercase;
}

.navbar-default .navbar-nav {
    margin-top: 40px;
    margin-right: 30px;
}

.navbar.scrolled {
    background: rgb(13, 25, 49); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}

ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    transition: width .4s;
    background: rgb(147, 62, 197);
}

ul li:hover::after {
    width: 100%;
    transition: width .4s;
}

.navbar-default .navbar-nav li a:hover {
    color: white;
}

#formMain {
    width: 280px;
    height: 220px;
    background-color: white;
    margin-top: 300px;
    box-shadow: 1px 1px 1px 1px lightslategray;
    margin-rigth: 500px;
}

#formMain label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #555555;
    color: white;
    border: #001f3f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.form-inline {
    text-align: center;
}

#formMain textarea,
#formMain input {
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(147, 62, 197);
    margin-bottom: 10px;
    width: 245px;
    background: ghostwhite;
    color: black;
    font-size: 1.1em;
}

#formularz input#submit {
    width: 255px;
    cursor: pointer;
    margin-bottom: 0px;
}

h6#linkform a {
    position: absolute;
    top: 600px;
    right: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

h1#mybtn a {
    position: absolute;
    top: 600px;
    right: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

h1.heading {
    color: #adc43e;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 5em;
    position: absolute;
    top: 220px;
    right: 240px;
    cursor: pointer;

}

div p.text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2em;
    position: absolute;
    top: 320px;
    right: 300px;
    width: 450px;
    text-align: center;
    margin-top: 50px;
}

img.flag {
    margin-top: -10%;
}

h6#linkform a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    transition: width .4s;
    background: rgb(147, 62, 197);
}

h6#linkform a:hover::after {
    width: 100%;
    transition: width .4s;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    ul li:hover::after {
        width: 30%;
        transition: width .4s;
    }

    h6#linkform a {
        position: absolute;
        top: 600px;
        right: 150px;
        font-family: "Montserrat", sans-serif;
        font-size: 2em;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-weight: 600;

    }

    h1.heading {
        color: #adc43e;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 4em;
        position: absolute;
        top: 220px;
        right: 200px;
        cursor: pointer;

    }

    div p.text {
        color: white;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 1.7em;
        position: absolute;
        top: 320px;
        right: 100px;
        width: 450px;
        text-align: center;
        margin-top: 50px;

    }

    .flag li img {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 768px) {

    h6#linkform a {
        position: absolute;
        top: 550px;
        right: 10.5em;
        font-family: "Montserrat", sans-serif;
        font-size: 3em;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-weight: 600;

    }

    h1.heading {
        color: #adc43e;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 3em;
        position: absolute;
        top: 220px;
        right: 8.5em;
        cursor: pointer;

    }

    div p.text {
        color: white;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 1.5em;
        position: absolute;
        top: 320px;
        right: 300px;
        width: 450px;
        text-align: center;
        margin-top: 50px;

    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    ul li:hover::after {
        width: 30%;
        transition: width .4s;
    }

    #formMain {
        width: 320px;
        height: 270px;
        background-color: white;
        margin-top: 300px;
        box-shadow: 1px 1px 1px 1px lightslategray;
    }

    #formMain label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: #555555;
        color: white;
        border: #001f3f;
        font-family: 'Montserrat', sans-serif;
    }

    #formMain textarea,
    #formMain input {
        padding: 5px;
        border-radius: 3px;
        border: 2px solid rgb(147, 62, 197);
        margin-bottom: 25px;
        width: 200px;
        background: ghostwhite;
        color: black;
        font-size: 1.1em;
    }

    #formularz input#submit {
        width: 255px;
        cursor: pointer;
        margin-bottom: 0px;
    }

    h6#linkform a {
        position: absolute;
        top: 600px;
        right: 48px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.4em;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-weight: 600;

    }

    h1.heading {
        color: #adc43e;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 4.6em;
        position: absolute;
        top: 260px;
        left: 28px;
        cursor: pointer;

    }

    div p.text {
        color: white;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 1em;
        position: absolute;
        top: 620px;
        right: 50px;
        width: 450px;
        text-align: center;
        margin-top: 50px;
        display: none;
    }

    h6#linkform a:hover::after {
        width: 45%;
        transition: width .4s;
    }
}

/* Small Devices, Tablets */

@media (max-width: 320px) {

    h6#linkform a {
        color: white;
        top: 400px;
        left: 80px;
        font-weight: 600;
        width: 300px;

    }

    h1.heading {
        color: #adc43e;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 2em;
        cursor: pointer;
        top: 240px;
        right: 10px;
        text-decoration: underline #adc43e;
    }

    #formMain {
        width: 150px;
        height: 210px;
        background-color: white;
        margin-top: 500px;
        border-radius: 3%;
    }

    #formMain textarea,
    #formMain input {
        width: 100px;
    }

    div p.text {
        display: none;

    }

    ul li:hover::after {
        width: 30%;
        transition: width .4s;

    }

    h6#linkform a:hover::after {
        width: 45%;
        transition: width .4s;
    }

    button.navbar-toggle.collapsed {
        margin-right: 10%;
    }
}



/*Piotr Iwańczuk - koniec*/

/*Jakub Markiewicz - start*/

.fitstylemodule {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f7f7f8 !important;
    padding-bottom: 3em;
}

.kropki {
    content: '(...)';
    transform: rotate(90deg);
    font-size: 2em;
    color: #ff0000;
    position: absolute;
    top: 0;
}

.tescik {
    margin: 1em 0 7em 0;
    width: 5em;
    height: 5em;
    background: white;
    z-index: 2;
    border-radius: 50%;
    transform: scale(1.5);
    line-height: 2em;
}

.tescik2 {
    margin: 1em 0 7em 0;
    width: 5em;
    height: 5em;
    background: white;
    z-index: 2;
    border-radius: 50%;
    transform: scale(1.5);
    line-height: 2em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.rel {
    position: relative;
}

.pline::before {
    content: '';
    width: 15.791667%;
    height: 0.4em;
    background: #933ec4;
    position: absolute;
    top: 5.6em;
    left: 42.958333%;
}

h1 {
    color: #adc43e;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5%;

}

.img img {
    /*height:auto;*/
    /*width: auto;*/
    /*max-width: 100%;*/
    /*padding-top: 5%;*/
    /*padding-bottom: 10%;*/
    max-width: 75%;
    margin-left: 12%;
}

.iconwrap {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    max-width:70%;
padding: 16%;
}

.iconwrap2 {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    max-width:70%;
    padding: 16%;
}

.iconwrap3 {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    max-width:70%;
    padding: 16%;
    top: 15%;
    }


.wrap-padding {
    margin: 3em 0 3em 0;
}


.iconline::before {
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    background: url('images/bg-pattern');
    background-size: 3px 10px;
    background-repeat: repeat-y;
    z-index: 3;
}

.iconfit {
    position: relative;
}

.iconfit p {
    color: #82858c;
    font-size: 0.7em;
}

.iconfit-r h3 {
    font-size: 1em;
    color: #505255;
    font-weight: 800;
    text-align: left;
}

.iconfit-r p {
    color: #82858c;
    font-size: 0.9em;
    text-align: left;
}

.iconfit-l h3 {
    font-size: 1em;
    color: #505255;
    font-weight: 800;
    text-align: right;
}

.iconfit-l p {
    color: #82858c;
    font-size: 0.9em;
    text-align: right;
}

.iconfita {
    position: relative;
}

.firsticon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.second-icon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.third-icon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.fourththicon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.five-icon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.six-icon {
    position: relative;
    text-align: center;
    max-width: 100%;
}

@media screen and (max-width: 991px) {

    .img img {
        max-width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {

    .iconfitd {
        padding-left: 10%;
    }

}

@media screen and (max-width: 490px) {
    .iconfitd {
        padding-left: 10%;
    }


}

/*Jakub Markiewicz - koniec*/

/*Monika Musak - start*/

.photo-woman {

    background-image: url("images/zdjecie-pani.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 448px;
}

.photo-woman2 {

    background: url("images/zdjecie-pani2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 453px;
}

.team-photo {

    background: url('images/ekipa.jpg') no-repeat;
    background-size: cover;
    height: 444px;

}

.banner-img {

    background: url('images/tlo.jpg');
    text-align: center;
    color: #adc43e;
    padding-top: 3%;
    padding-bottom: 3%;
}

.button1234 {

    background-color: #933EC4;
    margin-left: 65%;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 30%;
    height: 12%;
    border-radius: 0.8em;
}

p {

    text-align: justify;
    line-height: 150%;

}

h2 {

    text-align: center;

}

h3 {
    font-size: 3em;
}

.p3 p {
    padding: 15px;
    line-height: 20px;
}

.p2 p {
    padding: 15px;
    line-height: 30px;
}

.p1 p {

    padding: 15px;
    line-height: 20px;
}

/*Monika Musak - koniec*/

/*Maria Mioduska - start*/
#siteEnd .container-fluid {
    background-image: url('images/tlo2_02.jpg');
    background-size: cover;
    font-family: Montserrat;
    color: #D9D9D9;
    padding-bottom: 45px;
}

.grey {
    padding-bottom: 60px;
}

.black {
    background-color: black;
    padding-top: 20px;
    text-align: center;
}

.logo {
    padding-top: 50px;

}

.copyright {
    position: relative;
    padding-left: 15px;
}

.copyright p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.tutim {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #D9D9D9;
}

.tutim strong {
    color: white;
    font-weight: bold;
}

.media {
    position: relative;
    margin-top: 0;
}

.contact {
    position: relative;
}

.row black {
    font-family: 'Montserrat';
    font-size: 0.8em;
}

.media a {
    text-decoration: none;
    color: white;

}

.contact .mailphone .mail a {
    text-decoration: none;
    color: #D9D9D9;

}

.contact .mailphone .mail i {
    text-decoration: none;
    color: white;
    text-align: center;
}

.contact .mailphone .phone {
    color: #D9D9D9;
    font-family: 'Montserrat'
}

.contact .mailphone .phone i {
    color: white;
}

.smallmedia {
    padding: 10px;
}

.mail {
    padding: 10px;
}

.phone {
    padding: 10px;
}

.copyright {
    color: white;

}

.copyright p {
    padding-left: 15px;
    color: #D9D9D9;
}

.copyright p strong {
    color: white;
}

.more h2 {
    padding-bottom: 50px;
    padding-top: 50px;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #933EC4;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.8em;

}

#backToTop:hover {
    background-color: #adc43e;
}

/*Maria Mioduska - koniec*/