/*Global container size */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat';
}

.aboutfitstyle {
 width: 1440px;
 height:890px;
 background-color: #f8f8f9;
}

/* 6 strong features with description */

.keyfeatures-l {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 82, 85);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    float:left;
    width:20%;
   }

.keyfeatures-r {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 82, 85);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    float:right;
    width:80%;
    }

/* Container h2 */

.fitheader h2 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(173, 197, 62);
    text-align: center;
    position: absolute;
}

/* purple line below h2 */

.pline {
    height: 5px;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #933ec5;
    opacity: 1;
    width: 75px;
}

.iconcircle {
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   position: absolute;
        }

.telephone img {
    padding: 35px 0 35px 0;
    position: absolute;
    text-align: center;
   }

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
