/*Global container size */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat';
    background-color: #f8f8f9;
}

.aboutfitstyle {
position: relative;
}

/* 6 strong features with description */

.keyfeatures-l.flex,
.keyfeatures-r.flex {
    flex-direction: column;
    position: relative;
    }

.keyfeatures-r::after {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    background: url('images/bg-pattern.png');
    background-size: 3px 10px;
    background-repeat: repeat-y;
}

.telephone {
    width: 30%;
}


.telephone img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

/* Container h2 */

.fitheader h2 {

    text-align: center;
    font-size: 3em;
    color: rgb(173, 197, 62);
    position: relative;
}

/* purple line below h2 */

.pline::after {
    position: absolute;
    height: 0.5em;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #933ec5;
    opacity: 1;
    width: 20%
}

.icon-circle {
   width: 15%;
    position: relative;
    z-index: 1;
        }
.icon-circle::after {
    content: '';
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transform: scale(1.4);
}
.icon-circle img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}


.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
